:root {
    --font-primary: "Onest", sans-serif;
    --font-heading: "Onest", sans-serif;
    --color-black: #000;
    --color-black-rgb: 0 0 0;
    --color-white: #fff;
    --color-white-rgb: 255 255 255;
    --color-red: #e3395d;
    --color-red-rgb: 227 57 93;
    --color-blue: #0f75bd;
    --color-blue-rgb: 15 117 189;
    --color-purple: #885fa4;
    --color-purple-rgb: 136 95 164;
    --color-purple-light: #9d81b9;
    --color-lightblue: #2d97c3;
    --color-lightblue-rgb: 45 151 195;
    --color-yellow: #fec953;
    --color-yellow-rgb: 254 201 83;
    --color-green: #00875f;
    --color-green-rgb: 0 135 95;
    --color-gray: #bcbdc0;
    --color-gray-bg: #fafafc;
    --color-darkgray: #808285;
    --color-gray-text: #a5a6a8;
    --color-text: #333;
    --color-text-rgb: 51 51 51;
    --color-footer: #fafafa;
    --header-height: 5rem;
    --main-screen-height: 6rem;
    --section-padding-top: 5rem;
    --section-padding-top-mobile: 3rem;
    --breakpoint-xs: 0;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1536px;
    --breakpoint-xxxl: 1920px;
}
