<!doctype html>
<html lang="ru">
    <head>
        @@include('__BLOCKS_PATH__/modules/head/head.html', { "title": "@@title" })
    </head>
    <body>
        <div class="wrapper">
            @@include('__BLOCKS_PATH__/modules/header/header.html', { "currentPage-home": "",
            "currentPage-404": "" })

            <main class="main" role="main">
                <!-- Content here -->
            </main>

            @@include('__BLOCKS_PATH__/modules/footer/footer.html')
        </div>

        @@include('__BLOCKS_PATH__/modules/js/js.html')
    </body>
</html>
