<!doctype html>
<html lang="ru">
    <head>
        @@include('../blocks/modules/head/head.html', { "title": "Главная" })
    </head>
    <body>
        <div class="wrapper">
            @@include('../blocks/modules/header/header.html', { "currentPage-home":
            "aria-current=\"page\"", "currentPage-404": "" })

            <main class="main" role="main">@@include('../blocks/modules/hero/hero.html')</main>

            @@include('../blocks/modules/footer/footer.html')
        </div>

        @@include('../blocks/modules/js/js.html')
    </body>
</html>
